@model IEnumerable<CouponViewModel>
@{
    ViewData["Title"] = "Coupons List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="whiteBackground container mt-4">
    <div class="row">
        <div class="col-12 col-md-9">
            <h1 class="text-primary">
                Coupons List
            </h1>
        </div>
        <div class="col-12 col-md-3 text-md-right mt-3">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>

    <hr />

    @if (!Model.Any())
    {
        <div class="alert alert-warning mt-4" role="alert">
            No Coupons In The List ...!
        </div>
    }
    else
    {
        @using (Html.BeginForm("DeleteAll", "Coupons", FormMethod.Post))
        {
            <table id="tbl" class="row table table-striped table-hover border mt-4">
                <thead class="col-12">
                    <tr class="row bg-primary text-white">
                        <th class="col-1 text-right text-lg-center">
                            <input style="position: initial;" class="form-check-input ckheader" type="checkbox" />
                        </th>

                        <th class="col-2">
                            @Html.DisplayNameFor(e => e.Name)
                        </th>

                        <th class="col-2">
                            @Html.DisplayNameFor(e => e.Discount)
                        </th>

                        <th class="col-2 col-lg-3">
                            @Html.DisplayNameFor(e => e.MinimumAmount)
                        </th>

                        <th class="col-1 col-lg-2">
                            @Html.DisplayNameFor(e => e.IsActive)
                        </th>

                        <th class="col-4 col-lg-2"></th>
                    </tr>
                </thead>
                <tbody class="col-12">
                    @foreach (var coupon in Model)
                    {
                        <tr class="row deleted">
                            <td class="col-1 text-right text-lg-center">
                                <input class="form-check-input ckitem" type="checkbox" name="ID" value="@coupon.Id" />
                            </td>

                            <td class="col-2">
                                @Html.DisplayFor(e => coupon.Name)
                            </td>

                            <td class="col-2">
                                @Html.DisplayFor(e => coupon.Discount)
                            </td>

                            <td class="col-2 col-lg-3">
                                @Html.DisplayFor(e => coupon.MinimumAmount)
                            </td>

                            <td class="col-1 col-lg-2">
                                @Html.DisplayFor(e => coupon.IsActive)
                            </td>

                            <td class="col-4 col-lg-2 text-right">
                                <partial name="_OperationButtonsPartial" model="@coupon.Id" />
                            </td>

                        </tr>
                    }
                </tbody>
                @if (Model.Any())
                {
                    <tfoot class="col-12">
                        <tr class="row">
                            <td class="col-2 text-left">
                                <input id="btnSub" type="submit" class="btn btn-danger" value="Delete All" />
                            </td>

                            <td class="col-10"></td>
                        </tr>
                    </tfoot>
                }
            </table>
        }
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);

                bootbox.confirm({
                    message: "Are you sure, You want to delete this Category?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/admin/coupons/delete/' + btn.data('id'),
                                success: function () {
                                    var categoryContainer = btn.parents('.deleted');
                                    categoryContainer.addClass('animate__animated animate__zoomOut');

                                    setTimeout(function () {
                                        categoryContainer.remove();
                                    }, 1000);

                                    toastr.success('Category deleted successfully.');
                                },
                                error: function () {
                                    toastr.error('Something went wrong!');
                                }
                            });
                        }
                    }
                });
            });


            $('#btnSub').click(function () {
                var count = $(".ckitem:checked").length;

                if (count == 0) {
                    alert("You Don\'t Chosse Any coupon !");
                    return false;
                }
                else {
                    return confirm("Are you sure, You want to delete this Coupon(s)?");
                }
            });


            var $tbl = $('#tbl');
            var $header = $tbl.find('thead .ckheader');
            var $item = $tbl.find('tbody .ckitem');

            $(function () {
                $item.on('change', function () {
                    if ($(this).is(':checked')) {
                        $(this).closest('tr').addClass('newRowColor');
                    }
                    else {
                        $(this).closest('tr').removeClass('newRowColor');
                    }
                });

                $header.change(function () {
                    var c = this.checked;
                    $item.prop("checked", c);
                    $item.trigger('check');

                    if ($(this).is(':checked')) {
                        $($item).closest('tr').addClass('newRowColor');
                    }
                    else {
                        $($item).closest('tr').removeClass('newRowColor');
                    }
                });
            });
        });
    </script>
}